<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <title>Raspchat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='./default.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="root" style="width: 100%; height: 100%; margin: 0; padding: 0; position: relative;">
    <template v-if="isConnected">
      <slot name="logsHolder"><chat-log :messages="currentGroup.messages"/></slot>
      <slot name="composeHolder"><chat-compose @send-message="sendMessage"/></slot>
      <slot name="appBar"><app-bar :user-id="nick"/></slot>
      <slot name="loadingBar">
        <div class="loading-overlay" v-show="isConnecting">
          <div class="container-text">
            Connecting...
          </div>
        </div>
      </slot>
    </template>
    <form class="login-form" @submit.stop.prevent="connect" v-else>
      <center>
        <input type="text" placeholder="Enter a nick" v-model="nick" />
        <button type="submit">Connect</button>
      </center>
    </form>
  </div>

  <template id="chat-compose">
    <div class="bottomBar">
      <textarea class="msg code-font"
                v-model="message"
                @keydown.stop.prevent.enter="enterPressed"
                @keydown.stop.prevent.tab="tabPressed"
                placeholder="Type your message"></textarea>
      <input class='btn' type="button" style="" @click.stop.prevent="enterPressed" value="send" />
    </div>
  </template>

  <template id="app-bar">
    <div class="app-bar color-background-900 code-font">
      <div class="app-bar-container">

        <div>Settings</div>
        <hr style="margin: 5px 0;"/>
        <div class="additional-buttons">
          <sound-notification-button default-enabled="{{true}}" :ignore-for="userId"/>
        </div>

        <div>You are</div>
        <hr style="margin: 5px 0;"/>
        <table style="width: 100%; padding: 10px 0 10px 5px;">
          <tr>
            <td style="width: 12px;">
              <img :src="userId | avatar_url" class="avatar" />
            </td>
            <td aling="left" style="font-size: 16px; overflow: hidden;">
              {{userId}}
            </td>
          </tr>
        </table>

        <div>Groups</div>
        <hr style="margin: 5px 0;"/>
        <div class="list-container">
          <groups-list />
        </div>
      </div>
    </div>
  </template>

  <template id="sound-notification-button">
    <a href="#" class="inline-button code-font" @click.stop.prevent="toggle">
      <i class="fa fa-bell" v-if="enabled"></i>
      <i class="fa fa-bell-o" v-else></i>
    </a>
  </template>

  <template id="groups-list">
    <div class="code-font groups-list" v-for="g in groups">
      <a href="#" class="group-entry {{selected == g.name ? 'active-group' : ''}}" @click.stop.prevent="selectGroup(g.name)">
        <span>{{g.name}}</span><span v-if="g.unread"> - {{g.unread}}</span>
        <i class="fa fa-times" style="float: right; font-size: 17px;" @click.stop.prevent="leaveGroup(g.name)" v-if="$index"></i>
      </a>
    </div>
  </template>

  <template id="chat-messages">
  <div class="chat-log">
    <div class="chat-message" v-for="m in messages">
      <chat-message :message="m" @chat-message-added="scrollToBottom"/>
    </div>
  </div>
  </template>

  <template id="chat-message">
  <div v-if="message.isMeta">
    <pre class="meta-message">{{{message.msg}}}</pre>
  </div>
  <div class="incomingMessage code-font" v-else>
    <table width="100%" border="0">
      <tr>
        <td valign="top" align="left" style="width: 12px;">
          <img :src="message.from | avatar_url" class="avatar" alt="{{message.from}}" />
          <div class="cf">&nbsp;</div>
        </td>
        <td valign="top" align="left">
          <div class="fromContainer">
            <span class="name">{{message.from}}</span>
            <span style="font-size: 12px">{{message.delivery_time | better_date}}</span>
          </div>
          <div class="markdown-container">
          {{{message.msg | markdown}}}
          </div>
        </td>
      </tr>
    </table>
  </div>
  </template>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/5.0.2/markdown-it.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="./core.js"></script>
<script src="./rtc.js"></script>
<script src="./peer_negotiator.js"></script>
<script src="./file_transfer.js"></script>
<script src="./chat.js"></script>
</html>
