<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
  <link rel="manifest" href="/static/favicon/manifest.json" />
  <meta name="msapplication-TileColor" content="#00897B" />
  <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png" />
  <meta name="theme-color" content="#00897B" />
  <meta charset="utf-8" />
  <meta name="robots" content="noindex"/>

  <link href='//fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link href='./default.css' rel='stylesheet' type='text/css' />
  <script type='text/javascript' src="./emojify.min.js" async defer></script>
  <script type='text/javascript' src="/config/client.js"></script>

  <title>Raspchat</title>
</head>
<body>
  <div id="root" style="width: 100%; height: 100%; margin: 0; padding: 0; position: relative;">
    <template v-if="isConnected">
      <slot name="windowBox">
        <div class="chrome-body">
          <div class="chrome-body-container" :class="{'show-appbar': showAppBar}">
            <slot name="appBar"><app-bar :show="showAppBar"/></slot>

            <slot name="chatBox">
              <div class="chat-box">
                <slot><chat-log :messages="currentGroup.messages"/></slot>
                <slot><chat-compose @send-message="sendMessage"/></slot>
              </div>
            </slot>

          </div>
        </div>

        <slot name="chromeBar"><chrome-bar :user-id="nick" :title="currentGroup.name" /></slot>
      </slot>

      <slot name="loadingBar">
        <div class="loading-overlay" v-show="isConnecting">
          <div class="container-text">
            Connecting...
          </div>
        </div>
      </slot>
    </template>
    <login-form @login="onSignedIn" v-else/>
  </div>

  <template id="login-form">
    <center style="margin: 10em 0 0 0;" v-show="isReady">
      <div v-if="isSignedIn">
        <form class="login-form" @submit.stop.prevent="signin">
          Nick:
          <input type="text" placeholder="Nick" v-model="nick" />
          <input type="submit" value="Connect" :disabled="!isValidNick" />
        </form>
      </div>
      <div v-else>
        <google-sign-in @success="googleSignInSuccess" />
      </div>
    </center>
  </template>

  <template id="chat-compose">
    <div class="bottomBar">
      <textarea class="msg code-font"
                v-model="message"
                @keydown.stop.prevent.enter="enterPressed"
                @keydown.stop.prevent.tab="tabPressed"
                placeholder="Type your message"></textarea>
      <input class='btn' type="button" style="" @click.stop.prevent="enterPressed" value="send" />
    </div>
  </template>

  <template id="app-bar">
    <div class="app-bar color-background-500 code-font">
      <div class="app-bar-container">

        <div style="margin: 5px;">Groups</div>
        <hr style="margin: 5px 0;"/>
        <div class="list-container">
          <groups-list />
        </div>

        <div style="margin: 5px;">Settings</div>
        <hr style="margin: 5px 0;"/>
        <div class="additional-buttons">
          <sound-notification-button default-enabled="{{true}}" :ignore-for="userId"/>
        </div>

      </div>
    </div>
  </template>

  <template id="sound-notification-button">
    <a href="#" class="inline-button code-font" @click.stop.prevent="toggle">
      <i class="fa fa-bell" v-if="enabled"></i>
      <i class="fa fa-bell-o" v-else></i>
    </a>
  </template>

  <template id="groups-list">
    <div class="code-font groups-list" v-for="g in groups">
      <a href="#" class="group-entry {{selected == g.name ? 'active-group' : ''}}" @click.stop.prevent="selectGroup(g.name)">
        <span>{{g.name}}</span><span v-if="g.unread"> - {{g.unread}}</span>
        <i class="fa fa-times" style="float: right; font-size: 17px;" @click.stop.prevent="leaveGroup(g.name)" v-if="$index"></i>
      </a>
    </div>
  </template>

  <template id="chrome-bar">
    <div class="chrome-bar color-background-500 code-font">
      <table class="chrome-bar-container">
        <tr>
          <td class="hamburger-container"><a href="#" class="hamburger" @click.stop.prevent="hamburgerClicked()"><i class="fa fa-bars"></i></a></td>
          <td class="title-container">{{title}}</td>
          <td class="avatar-container">
              <img :src="userId | avatar_url" width="32" height="32"/>
          </td>
          <td>
            <span class="avatar-name-container">{{userId}}</span>
          </td>
        </tr>
      </table>
    </div>
  </template>

  <template id="chat-messages">
  <div class="chat-log-container">
    <div class="chat-log">
      <div class="chat-messages" @scroll="onScroll">
      <div class="chat-message" v-for="m in messages">
        <chat-message :message="m" @chat-message-added="scrollToBottom"/>
      </div>
      </div>
    </div>
  </div>
  </template>

  <template id="chat-message">
  <div v-if="message.isMeta">
    <pre class="meta-message">{{{message.msg | escape_html}}}</pre>
  </div>
  <div class="incomingMessage code-font" v-else>
    <table width="100%" border="0" style="max-width: 100%;">
      <tr>
        <td valign="top" align="left" style="width: 12px;">
          <img :src="message.from | avatar_url" class="avatar" alt="{{message.from}}" />
          <div class="cf">&nbsp;</div>
        </td>
        <td valign="top" align="left">
          <div class="fromContainer">
            <span class="name">{{message.from}}</span>
            <span style="font-size: 12px">{{message.delivery_time | better_date}}</span>
          </div>
          <div class="markdown-container">
          {{{message.msg | markdown | emojify}}}
          </div>
        </td>
      </tr>
    </table>
  </div>
  </template>
</body>
<script type="text/javascript" src="/static/app.min.js?rev=5"></script>
</html>
