* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
hr, input, button, textarea {
  border: 1px solid black;
}
input, button, textarea {
  padding: 5px 2px;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: block;
}

/*Colors*/
.color-background-50  { background: #E0F2F1; }
.color-background-500 { background: #009688; }
.color-background-600 { background: #00897B; }
.color-background-700 { background: #00796B; }
.color-background-800 { background: #00695C; }
.color-background-900 { background: #004D40; }

.code-font {
  font-family: 'Roboto Mono', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.cf {
  display: block;
  clear: both;
}

.login-form {
  display: block;
  clear: both;
  color: white;
}

.chrome-bar {
  position: fixed;
  height: 48px;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  color: white;
}

.chrome-body {
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.chrome-body-container {
  position: static;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.app-bar {
  position: relative;
  flex-grow: 0;
}

.chat-box {
  position: relative;
  flex-grow: 1;
}

.chat-log-container {
  position: absolute;
  top: 0;
  bottom: 42px;
  left: 0;
  right: 0;
}

.chat-log {
  position: relative;
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 10px;
  color: black;
  background: white;
}

.chat-messages {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  overflow: auto;
}

.bottomBar {
  position: absolute;
  bottom: 0px;
  left: 5px;
  right: 5px;
  height: 42px;
}

.app-bar-container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

.group-entry, .group-entry:active {
  text-decoration: none;
  display: block;
  clear: both;
  color: white;
  margin: 7px 0;
  padding: 12px 5px;
  font-size: 16px;
}

.group-entry .fa {
  padding-top: 3px;
  font-size: 17px;
  float: right;
}

.group-entry:hover {
   background: #00695C;
}

.active-group {
  background: #fff;
  color: #000;
}

.active-group:hover {
  background: #fff;
}

.meta-message {
  color: #999;
  padding: 5px 10px;
}

.incomingMessage {
  margin: 10px;
  box-sizing: border-box;
}

.avatar {
  width: 64px;
  height: 64px;
  float: left;
  margin: 0 8px 0 0;
  border-radius: 10px;
}

.markdown-container * {
  word-wrap: break-word;
}

.markdown-container img {
  max-width: 100%;
}

.markdown-container a, .markdown-container a:active, .markdown-container a:visited {
  color: inherit;
}

.markdown-container p {
  margin: 4px 0;
}

.markdown-container li {
  margin-left: 20px;
}

.fromContainer {
  padding: 0 0 7px 0;
}

.fromContainer .name {
  padding: 0px 10px 7px 0;
  font-weight: 900;
  font-style: normal;
  color: #00695C;
}

.list-container {
  max-height: 60%;
  height: 60%;
}

.additional-buttons {
  padding: 10px 5px;
}

.inline-button, .inline-button:active {
  text-decoration: none;
  height: 24px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.loading-overlay .container-text{
  position: relative;
  width: 100%;
  padding: 20% 0 0 0;
  margin: 0;
  font-size: 32px;
  text-align: center;
}

.chrome-bar-container {
  display: block;
  position: static;
  width: 100%;
}

.hamburger {
  padding: 0 11px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.hamburger i {
  padding: 11px 0;
}

.chrome-bar-container .title-container {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.hamburger-container {
  width: 42px;
}

/* Mobile */
@media(max-width: 600px) {
  .msg {
    width: 80%;
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .btn {
    width: 17%;
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .chat-box {
    width: 100%;
  }

  .app-bar {
    display: none;
  }

  .chrome-bar-container .avatar-name-container {
    display: none;
  }

  .avatar {
    width: 32px !important;
    height: 32px !important;
  }

  .show-appbar .app-bar {
    display: block !important;
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
  }

  .show-appbar .chat-box {
    visibility: hidden;
  }
}

/* Desktop */
@media (min-width: 600px) {
  .msg {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    height: 42px;
  }

  .btn {
    display: none;
  }

  .app-bar {
    width: 26%;
    max-width: 200px;
  }

  .chat-box{
    width: 73%;
  }
}
