* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-shadow: none;
}

hr, input, button, textarea {
  border: 1px solid black;
}

input, button, textarea {
  padding: 5px 2px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

img{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*Colors*/
.color-background-50  { background: #E0F2F1; }
.color-background-500 { background: #009688; }
.color-background-600 { background: #00897B; }
.color-background-700 { background: #00796B; }
.color-background-800 { background: #00695C; }
.color-background-900 { background: #004D40; }

.cf {
  display: block;
  clear: both;
}

.login-form {
  display: block;
  clear: both;
}

.chrome-bar {
  position: absolute;
  height: 48px;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  color: white;
}

.chrome-body {
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.chrome-body-container {
  position: static;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.app-bar {
  position: relative;
  flex-grow: 0;
}

.chat-box {
  position: relative;
  flex-grow: 1;
}

.chat-log-container {
  position: absolute;
  top: 0;
  bottom: 42px;
  left: 0;
  right: 0;
}

.chat-log {
  position: relative;
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 10px;
  color: black;
  background: white;
}

.chat-messages {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.bottomBar {
  position: absolute;
  bottom: 0px;
  left: 5px;
  right: 5px;
  height: 42px;
}

.app-bar-container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

.group-entry, .group-entry:active {
  text-decoration: none;
  display: block;
  clear: both;
  color: white;
  margin: 7px 0;
  padding: 12px 5px;
  font-size: 16px;
}

.group-entry .fa {
  padding-top: 3px;
  font-size: 17px;
  float: right;
}

.group-entry:hover {
   background: #00695C;
}

.active-group {
  background: #fff;
  color: #000;
}

.active-group:hover {
  background: #fff;
}

.meta-message {
  color: #999;
  padding: 5px 10px;
}

.incomingMessage {
  margin: 10px;
  box-sizing: border-box;
}

.avatar {
  width: 64px;
  height: 64px;
  float: left;
  margin: 0 8px 0 0;
  border-radius: 10px;
}

.markdown-container * {
  word-wrap: break-word;
}

.markdown-container img {
  max-width: 100%;
}

.markdown-container a, .markdown-container a:active, .markdown-container a:visited {
  color: inherit;
}

.markdown-container p {
  margin: 4px 0;
}

.markdown-container li {
  margin-left: 20px;
}

.fromContainer {
  padding: 0 0 7px 0;
}

.fromContainer .name {
  padding: 0px 10px 7px 0;
  font-weight: 900;
  font-style: normal;
  color: #00695C;
}

.list-container {
  max-height: 60%;
  height: 60%;
}

.additional-buttons {
  padding: 10px 5px;
}

.inline-button, .inline-button:active {
  text-decoration: none;
  height: 24px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.loading-overlay .container-text{
  position: relative;
  width: 100%;
  padding: 20% 0 0 0;
  margin: 0;
  font-size: 32px;
  text-align: center;
}

.chrome-bar-container {
  display: block;
  position: static;
  width: 100%;
}

.hamburger {
  padding: 0 11px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.hamburger i {
  padding: 11px 0;
}

.chrome-bar-container .title-container {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.hamburger-container {
  width: 42px;
}

.emoji {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  margin-bottom: 0.1em;
}

/* Mobile */
@media(max-width: 600px) {
  .msg {
    width: 80%;
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .btn {
    width: 17%;
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .chat-box {
    width: 100%;
  }

  .app-bar {
    display: none;
  }

  .chrome-bar-container .avatar-name-container {
    display: none;
  }

  .avatar {
    width: 32px !important;
    height: 32px !important;
  }

  .show-appbar .app-bar {
    display: block !important;
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
  }

  .show-appbar .chat-box {
    visibility: hidden;
  }
}

/* Desktop */
@media (min-width: 600px) {
  .msg {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    height: 42px;
  }

  .btn {
    display: none;
  }

  .app-bar {
    width: 26%;
    max-width: 200px;
  }

  .chat-box{
    width: 73%;
  }
}

/* welcome.html */

.welcome-container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.welcome{
    background-color: #04a985;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.welcome .logo img{
    width: 150px;
    margin: 0 auto;
    display: block;
    padding-bottom: 15px;
}


.welcome h1{
    margin: 10px 0;
    padding: 0px;
    letter-spacing: 0.5px;
}

.welcome p{
    font-size: 25px;
    padding: 0px;
    margin: 5px auto;
    max-width: 800px;
}

.welcome .open-app{
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #08c49b;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    margin: 15px 5px;
    transition: all 0.3s ease;
}

.welcome .open-app:hover{
    background-color: #06866a;
}

/* chat.html */

.rasp-login{
    background-color: #04a985;
    color: #fff;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.rasp-login-container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.rasp-login-container h1{
    padding: 0 0 10px 0;
    letter-spacing: 0.5px;
    text-align: left;
}

.rasp-login-container .abcRioButton{
    width: 100% !important;
    box-shadow: none;
    background-color: #08c49b;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.rasp-login-container .abcRioButton:hover{
    box-shadow: none;
    color: #08c49b;
    background-color: #fff;
}

.rasp-login-container .abcRioButtonContentWrapper .abcRioButtonContents{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
}

.rasp-login-container .login-form input{
    border: 0px;
    background-color: #08c49b;
    width: 100%;
    color: #fff;
    margin: 0 0 10px 0;
    height: 50px;
    padding: 0 20px;
    font-size: 20px;
    line-height: 50px;
}

.rasp-login-container .login-form input::-webkit-input-placeholder{
   color: #fff;
   opacity: 0.7;
}

.rasp-login-container .login-form input::-webkit-input-placeholder { 
   color: #fff;
   opacity: 0.7;
}

.rasp-login-container .login-form input:-moz-placeholder { 
   color: #fff;
   opacity: 0.7;
}

.rasp-login-container .login-form input::-moz-placeholder { 
   color: #fff;
   opacity: 0.7;
}

.rasp-login-container .login-form input:-ms-input-placeholder { 
   color: #fff;
   opacity: 0.7;
}

.rasp-login-container .login-form input[type="submit"]{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.rasp-login-container .login-form input[type="submit"]:hover{
  background-color: #06866a;
}